    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    .padding-site {
        padding-left: 98px;
        padding-right: 98px;
    }
    
    .container {
        width: 1366px;
        height: 5710px;
        margin: 0 auto;
    }
    
    .slider {
        height: 800px;
        background-image: url(img/slider-img.jpg);
        background-size: cover;
        position: relative;
    }
    
    .header {
        padding-top: 63px;
    }
    
    .menu-1 {
        float: right;
    }
    
    .menu-list {
        list-style-type: none;
        float: left;
    }
    
    .menu-link {
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 48px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 13px;
    }
    
    .menu-link:hover {
        color: #212121;
        border-bottom: 3px solid #212121;
        text-shadow: 0 0 1px black;
    }
    
    .slider-trending {
        color: #43a047;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    
    .slider-h2 {
        color: #212121;
        font-size: 62px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: -3px;
    }
    
    .slider-content,
    .exclusive-content {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        width: 470px;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .slider-text {
        margin-top: 283px;
    }
    
    .button {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 23px;
        background-color: #ffffff;
        width: 212px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3.6px;
    }
    
    .pagination {
        position: absolute;
        width: 1170px;
        bottom: 19px;
        text-align: center;
    }
    
    .circle {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #c7c7c7;
        border-radius: 50%;
        margin: 5px;
    }
    
    .circle:hover {
        background-color: #212121;
    }
    
    .circle-active {
        width: 40px;
        height: 40px;
        background-color: #212121;
        margin-bottom: 0;
    }
    
    .menu-2 {
        float: left;
        margin-top: 120px;
    }
    
    .menu-products-list {
        list-style-type: none;
        float: left;
    }
    
    .menu-products-link {
        color: #8c8c8c;
        font-size: 27px;
        font-weight: 700;
        text-decoration: none;
        padding: 10px 13px;
        border-bottom: 1px solid #212121;
        letter-spacing: -1px;
    }
    
    .menu-products-link:hover {
        color: #212121;
    }
    
    .ul li:last-child {
        border-bottom: none;
    }
    
    .menu-products-active {
        color: #212121;
        font-weight: 700;
        letter-spacing: 1.4px;
        border-bottom: 3px solid #212121;
        letter-spacing: -1px;
    }
    
    .products-all,
    .products-all-text {
        float: right;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin: 6px;
        margin-top: 130px;
    }
    
    .products-all:hover,
    .products-all-text:hover {
        text-shadow: 3px 3px 3px rgba(63, 13, 13, 0.35);
    }
    
    a {
        text-decoration: none;
        color: #212121;
    }
    
    .products-table {
        border-spacing: 30px;
        margin-left: -30px;
        margin-top: 208px;
    }
    
    .products-active {
        opacity: 0;
        width: 270px;
        height: 270px;
        background-image: url(img/back.svg);
        float: left;
        position: absolute;
        margin-top: -305px
    }
    
    .products-active:hover {
        opacity: 1;
        width: 270px;
        height: 270px;
        background-image: url(img/back.svg);
        float: left;
        position: absolute;
        margin-top: -305px
    }
    
    .products-h2 {
        margin-top: 19px;
        color: #212121;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: center;
    }
    
    .products-content {
        color: #6c6c6c;
        font-size: 14px;
        line-height: 24px;
        width: 206px;
        margin-top: 23px;
        letter-spacing: -1px;
        text-align: center;
        margin-left: 32px;
    }
    
    .button-products {
        color: #6c6c6c;
        box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
        border-radius: 24px;
        background-color: #ffffff;
        width: 48px;
        height: 48px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 3.6px;
        margin-top: 62px;
        margin-left: 111px;
    }
    
    .img [src="img/arrow.svg"] {
        width: 12px;
    }
    
    .menu-products-list:hover .products-active {
        display: block;
    }
    
    .exclusive {
        background-image: url(img/promo-img1.jpg);
        height: 683px;
        width: 683px;
        float: left;
        margin-top: 90px;
    }
    
    .exclusive-1 {
        background-image: url(img/promo-img.jpg);
        height: 683px;
        width: 683px;
        float: left;
        margin-top: 90px;
    }
    
    .exclusive-text {
        margin-top: 228px;
        margin-left: 50px;
    }
    
    .exclusive-trending {
        color: #1e88e5;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
    }
    
    .exclusive-h2 {
        font-size: 36px;
        font-weight: 700;
        color: #212121;
        letter-spacing: -3px;
    }
    
    .trending {
        margin-left: 98px;
        margin-right: 98px;
        margin-top: 119px;
        float: left;
    }
    
    .trending-table {
        border-spacing: 30px;
        margin-left: -30px;
    }
    
    .products-all-text {
        float: right;
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin: 6px;
        margin-right: 40px;
    }
    
    .trending-h2 {
        float: left
    }
    
    .slider-2 {
        height: 800px;
        background-image: url(img/slider.jpg);
        margin-top: 1850px;
    }
    
    .slider-text-2 {
        padding-top: 287px;
    }
    
    .slider-trending-2 {
        color: #e53935;
    }
    
    .circle-2 {
        position: absolute;
        padding-top: 245px;
    }
    
    .trending-table3 {
        margin-left: 68px;
        margin-top: 90px;
        border-spacing: 30px;
    }
    
    .exclusive-table3 {
        float: left;
        margin-top: -400px;
        margin-left: 31px;
        position: absolute;
        width: 332px;
    }
    
    .mobile {
        background-image: url(img/back-img.jpg);
        height: 516px;
        margin-top: 100px;
    }
    
    .mobile-text {
        width: 407px;
        margin-top: 125px;
        margin-left: 98px;
        float: left;
    }
    
    .mobile-trending {
        color: #212121;
    }
    
    .mobile-content {
        color: #6c6c6c;
        font-size: 22px;
        font-weight: 300;
        line-height: 24px;
    }
    
    .mobile-h2 {
        letter-spacing: -5px;
    }
    
    .footer {
        height: 384px;
        background-color: #f7f7f7;
        margin: 0 auto;
        clear: both;
    }
    
    .footer_text {
        padding-top: 120px;
        display: flex;
        justify-content: space-between;
    }
    
    .contact {
        width: 221px;
        height: 139px;
    }
    
    .footer_header {
        color: #6c6c6c;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }
    
    .address {
        width: 221px;
        height: 102px;
        color: #212121;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding-top: 24px;
    }
    
    .useful {
        padding-left: 81px;
        width: 422px;
        height: 101px;
    }
    
    .useful_text {
        display: inline-flex;
    }
    
    .use1,
    .use2 {
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding-top: 25px;
    }
    
    .use1 {
        width: 137px;
        height: 62px;
    }
    
    .use1 a,
    .use2 a {
        text-decoration: none;
        color: #212121;
    }
    
    .use2 {
        width: 193px;
        height: 63px;
        padding-left: 103px;
    }
    
    .subscribe {
        width: 370px;
        height: 147px;
        padding-left: 78px;
    }
    
    .sub_text {
        width: 363px;
        height: 36px;
        color: #212121;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding-top: 24px;
        padding-bottom: 26px;
    }
    
    .email {
        width: 370px;
        height: 48px;
        border: 1px solid #d9dee1;
        background-color: #ffffff;
        text-indent: 19px;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #6c6c6c;
    }
    
    input[type="email"] {
        background: url(img/telplane.png) no-repeat 98%;
    }
    
    .email:focus {
        background-color: aliceblue;
    }
    
    .footer_social {
        width: 1170px;
        height: 28px;
        display: flex;
        padding-top: 59px;
        justify-content: space-between;
        align-items: center;
    }
    
    .copyright,
    .terms a {
        height: 12px;
        color: #6c6c6c;
        font-size: 12px;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }
    
    .copyright {
        width: 400px;
        padding-right: 150px;
    }
    
    .social {
        height: 20px;
        color: #6c6c6c;
        display: flex;
        padding-right: 138px;
    }
    
    .social a {
        text-decoration: none;
        color: white;
        background: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    
    .social a:not(:last-child) {
        margin-right: 10px;
    }
    
    .fa-facebook:hover {
        background: #3B5998;
    }
    
    .fa-twitter:hover {
        background: #55ACEE;
    }
    
    .fa-google-plus:hover {
        background: #DD4B39;
    }
    
    .fa-pinterest:hover {
        background: #c8232c;
    }
    
    .terms {
        width: 374px;
    }
    
    .terms a {
        text-decoration: none;
        color: #6c6c6c;
    }
    
    .terms a:hover {
        color: #212121;
        text-shadow: 0 0 1px black;
    }
    
    .use1 a:hover,
    .use2 a:hover {
        color: #212121;
        text-shadow: 0 0 1px black;
    }